<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>menuIndex</string>
		<key>title</key>
		<string>首頁</string>
		<key>icon</key>
		<string>02-menu11</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuOrder</string>
		<key>title</key>
		<string>點餐</string>
		<key>icon</key>
		<string>02-menu10</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuPackage</string>
		<key>title</key>
		<string>套餐設定</string>
		<key>icon</key>
		<string>02-menu04</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuDish</string>
		<key>title</key>
		<string>餐點設定</string>
		<key>icon</key>
		<string>02-menu03</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuDishOption</string>
		<key>title</key>
		<string>餐點選項設定</string>
		<key>icon</key>
		<string>02-menu05</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuDesktop</string>
		<key>title</key>
		<string>桌位設定</string>
		<key>icon</key>
		<string>02-menu02</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuCheckout</string>
		<key>title</key>
		<string>結帳設定</string>
		<key>icon</key>
		<string>02-menu06</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuDevice</string>
		<key>title</key>
		<string>裝置連線</string>
		<key>icon</key>
		<string>02-menu01</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuUser</string>
		<key>title</key>
		<string>員工管理</string>
		<key>icon</key>
		<string>02-menu08</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuCheckout</string>
		<key>title</key>
		<string>銷售報表</string>
		<key>icon</key>
		<string>02-menu07</string>
		<key>valid</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>menuClearDB</string>
		<key>title</key>
		<string>重建資料庫</string>
		<key>icon</key>
		<string>02-menu04</string>
		<key>valid</key>
		<false/>
	</dict>
</array>
</plist>
